<!DOCTYPE html>
<html lang="kr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memo - 글수정</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h2>● 게시글 수정</h2>
    <% if(typeof errs !== 'undefined') { %>
    <% errs.forEach((err)=>{%>
    <h4 style="color: red;"><%=err.param%> : <%=err.msg%> </h4>
    <% }) %>
    <% } %>

    <form method="POST" action="/updateMemo">
        <input type="hidden" name="id" value="<%=row.ID%>">
        <textarea name="content"><%=row.CONTENT%></textarea>
        <p></p>
        <input type="submit" value="저장">
        <input type="button" value="이전" onclick="javascript:location.href='/'">
    </form>
</body>

</html>